<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='/css/productos.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
    <title>Productos</title>
</head>
<header>
    <div class='container'>
        <div class='logo'>
            <h2>Productos</h2>
        </div>
        <nav>
            <ul class='right-links'>
                <li><a href='/'>Inicio</a></li>
                <li><a href='/real-time-products'>Productos en Vivo</a></li>
            </ul>
        </nav>
    </div>
</header>


<div>
    <table class='product-table'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Codigo</th>
                <th>Stock</th>
                <th>Category</th>
                <th>Status</th>
                <th>Imagen</th>
            </tr>
        </thead>
    </table>
    <table class='product-table'>
        <tbody>
            {{#each productos}}
            <tr>
                <td>{{this._id}}</td>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>{{this.price}}</td>
                <td>{{this.code}}</td>
                <td>{{this.stock}}</td>
                <td>{{this.category}}</td>
                <td>
                    {{#if this.status}}
                    Activo
                    {{else}}
                    Desactivado
                    {{/if}}
                </td>
                <td>
                    {{#if this.thumbnails.lenght}}
                    <a href="{{this.thumbnails.[0]}}" target="_blank">{{this.thumbnails.[0]}}</a>
                    {{else}}
                    No hay imagen
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

</html>