<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='/css/productos.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
    <title>Productos</title>
</head>
<header>
    <div class='container'>
        <div class='logo'>
            <h1>Productos</h1>
        </div>
        <nav>
            <ul class='right-links'>
                <li><a href='/'>Inicio</a></li>
                <li><a href='/real-time-products'>Productos en Vivo</a></li>
                <li><a href='/chat'>Chat</a></li>
                <li><a href='/cart'>Carrito</a></li>
            </ul>
        </nav>
    </div>
</header>

<div>
    <h3>Lista de productos:</h3>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Código</th>
                <th>Stock</th>
                <th>category</th>
                <th>status</th>
                <th>Imagen</th>
                <th>Comprar</th>
            </tr>
        </thead>
        <tbody>
            {{#each result.payload}}
            <tr>
                <td>{{this._id}}</td>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>{{this.price}}</td>
                <td>{{this.code}}</td>
                <td>{{this.stock}}</td>
                <td>{{this.category}}</td>
                <td>
                    {{#if this.status}}
                    Activo
                    {{else}}
                    Desactivado
                    {{/if}}
                </td>
                <td>{{#if this.thumbnails}}
                    <img src="{{this.thumbnails}}">
                {{else}}
                No hay imagen
                {{/if}}
                </td>
                <td>
                    <button class="cart-button" onclick="addToCart('{{this._id}}')">
                        <i class="fas fa-shopping-cart cart-icon"></i>
                    </button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="pagination">
        <span>Limite por pagina: {{result.limit}}</span><br>

        {{#if result.query}}
            <span>Filtrado por: {{result.query}}</span><br>
        {{/if}}

        {{#if result.hasPrevPage}}
            <a href="?page={{result.prevPage}}&limit={{result.limit}}{{#if result.query}}&query={{result.query}}{{/if}}">Anterior</a>
        {{/if}}

        <span>Pagina {{result.page}} de {{result.totalPages}}</span>

        {{#if result.hasNextPage}}
            <a href="?page={{result.nextPage}}&limit={{result.limit}}{{#if result.query}}&query={{result.query}}{{/if}}">Siguiente</a>
        {{/if}}
    </div>
    <script>
        function addToCart(productId){
            console.log('Producto agregado al carrito:', productId);

        }
    </script>
</div>

</html>